    <center>
    <!-- 
               <br>
    <p ng-repeat="station in stations">ng-repeat variable station = {{station}}</p>
    <br>
    <p ng-repeat="(key,value) in stations">ng-repeat key,value station = {{value.name}}</p>
    <br>  
    station = {{stations}}
            -->

    <label>You Are Here</label>
    <select ng-options="station.abbr as station.name for station in stations" ng-model="selectedStationYAH" ng-change="hereMap()"></select>
    <br>
     {{selectedStationYAH}}
     <br>

    <label>Destination Stations</label>
    <select ng-options="station.abbr as station.name for station in stations" ng-model="selectedStationDS" ng-change="aLocation()"></select>
    <br>
    {{selectedStationDS}}

        <p>
            NEXT TRAIN (train times of "You Are Here" station)
        </p>
        <p>
            TRIP DETAILS (between selected stations)
        </p>

        <div ng-show="!showResult()">
            Error : {{error}} Error Code: {{error.code}}
        </div>

        <br> Index Of {{selectedStationYAH}} ( {{vStaDetailsYAH}} )
        
        <br> Latitude (DS)= {{vLatDS}}
        <br> Longitude (DS)= {{vLongDS}}
        
        <br> Latitude (YAH)= {{vLatYAH}}
        <br> Longitude (YAH)= {{vLongYAH}}
        
        <br> Accuracy = {{vAcc}}
        <br> {{message}}
<!--
        <button onclick="getLocation()">Click for coordinates and a map</button>

        <div id="drop"></div>
        <div id="mapholder"></div>
        <div id="error"></div>
        -->
    </div>
</center>